!.gitignore
!.gitkeep
*.bak.ruby
*.iml
.idea
.project
.vagrant
.classpath
.settings
playapp/target
playapp/project/target
playapp/project/project/target
playapp/logs
playapp/dist
target
classes
RUNNING_PID
log.txt
classes
*.log

artifacts/play/*
!artifacts/play/README.md
artifacts/docear/*
!artifacts/docear/README.md
artifacts/version.txt



