!.gitignore
!.gitkeep
*.bak.ruby
*.iml
.*
playapp/target
playapp/project/target
playapp/project/project/target
playapp/logs
playapp/dist
target
RUNNING_PID
log.txt
classes
*.log
/logs

artifacts/play/*
!artifacts/play/README.md
artifacts/docear/*
!artifacts/docear/README.md
artifacts/version.txt



