!.gitignore
!.gitkeep
*.bak.ruby
*.iml
.*
playapp/target
playapp/project/target
playapp/project/project/target
playapp/logs
playapp/dist
target
RUNNING_PID
log.txt
classes
*.log
/logs
/puppet/manifests/secrets/

artifacts/*
!artifacts/mindmap-backend/README.md
!artifacts/play-frontend/README.md
secrets.zip


